body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  background-color: #f9efae;
}


/* eases transitions for item */
.bookdisplay .item {
  transition: transform 300ms ease 100ms;

}

/* moves items to the left */
.bookdisplay:hover .item {
  transform: translateX(-25%);
}

/* moves items to the right */
.item:hover ~ .item {
  transform: translateX(25%);
}

/* brings up items on hover */
.item:hover {
  transform: scale(1.2) !important;
}




/* MYBOOKS */
/* eases transitions for item */
.mybookdisplay .mybook {
  transition: transform 300ms ease 100ms;
}
.mybookdisplay {
  transition: transform 300ms ease 100ms;
}

/* moves items to the left */
.mybookdisplay:hover .mybook {
  transform: translateX(-25%);
}

/* moves items to the right */
.mybook:hover ~ .mybook {
  transform: translateX(25%);
}
/* .mybookdisplay:hover ~ .mybookdisplay {
  transform: translateY(10%);
} */

/* brings up items on hover */
.mybook:hover {
  transform: scale(1.2) !important;
}

